.section {
  text-align: left;

  button {
    margin-top: 2rem;
  }
}

.stand {
  padding: 1rem;
  margin: 0.5rem 0;
  display: flex;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.5);

  :global(.state) label {
    text-indent: 3.5rem !important;

    &:before,
    &:after {
      top: -2px !important;
    }
  }
}

.logo {
  width: 150px;
  height: 70px;
  background-image: url('../app/assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 3rem auto 9rem;
}

h3 {
  font-size: 1.25rem;
  letter-spacing: 0;
}