@import '../node_modules/normalize.css/normalize.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('./assets/bg.png');
}

.wrapper {
  width: 20rem;
  height: 38.5rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  box-sizing: border-box;
  margin: 2.5rem auto 0;
  padding: 1rem;
}