.section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}

.logo {
  width: 150px;
  height: 70px;
  background-image: url('../app/assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 3rem auto 10rem;
}

.btnAccept {
  margin: 2rem auto;
}